In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
movie=pd.read_csv('data/tmdb_5000_movies.csv')
credits=pd.read_csv('data/tmdb_5000_credits.csv')

In [3]:
movie=movie.merge(credits, on='title')

In [4]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [5]:
movie=movie[['movie_id','title','genres','cast','overview','crew','keywords']]

In [6]:
movie.isnull().sum()

movie_id    0
title       0
genres      0
cast        0
overview    3
crew        0
keywords    0
dtype: int64

In [7]:
movie.dropna(inplace=True)

In [8]:
movie.isnull().sum()

movie_id    0
title       0
genres      0
cast        0
overview    0
crew        0
keywords    0
dtype: int64

In [9]:
movie.duplicated().sum()

0

In [10]:
movie.head(2)

,movie_id,title,genres,cast,overview,crew,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","Captain Barbossa, long believed to be dead, ha...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [11]:
movie.iloc[8]['genres']

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 10751, "name": "Family"}]'

In [12]:
import ast
def convert_genres(text):
    list1=[]
    for i in ast.literal_eval(text):
        list1.append(i['name'])
    return

In [13]:
movie['genres']=movie['genres'].apply(convert_genres)

In [14]:
movie['keywords']=movie['keywords'].apply(convert_genres)

In [ ]:
movie['keywords']=movie['cast'].apply(convert_genres)

In [15]:
import ast
def convert_cast(text):
    list1=[]
    count=0
    for i in ast.literal_eval(text):
        if count < 3:
            list1.append(i['name'])
        count+=1
    return list1

In [17]:
movie['cast']=movie['cast'].apply(convert_cast)

ValueError: malformed node or string: None